.drawing-board[data-cursor-size=\"4\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-4.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-4.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-4.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-4.png") 1x, url("../assets/icons/cursors/circles/png/circle-4@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"6\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-6.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-6.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-6.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-6.png") 1x, url("../assets/icons/cursors/circles/png/circle-6@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"8\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-8.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-8.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-8.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-8.png") 1x, url("../assets/icons/cursors/circles/png/circle-8@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"10\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-10.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-10.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-10.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-10.png") 1x, url("../assets/icons/cursors/circles/png/circle-10@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"12\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-12.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-12.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-12.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-12.png") 1x, url("../assets/icons/cursors/circles/png/circle-12@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"14\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-14.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-14.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-14.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-14.png") 1x, url("../assets/icons/cursors/circles/png/circle-14@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"16\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-16.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-16.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-16.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-16.png") 1x, url("../assets/icons/cursors/circles/png/circle-16@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"18\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-18.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-18.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-18.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-18.png") 1x, url("../assets/icons/cursors/circles/png/circle-18@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"20\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-20.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-20.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-20.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-20.png") 1x, url("../assets/icons/cursors/circles/png/circle-20@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"22\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-22.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-22.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-22.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-22.png") 1x, url("../assets/icons/cursors/circles/png/circle-22@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"24\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-24.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-24.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-24.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-24.png") 1x, url("../assets/icons/cursors/circles/png/circle-24@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"26\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-26.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-26.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-26.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-26.png") 1x, url("../assets/icons/cursors/circles/png/circle-26@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"28\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-28.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-28.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-28.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-28.png") 1x, url("../assets/icons/cursors/circles/png/circle-28@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"30\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-30.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-30.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-30.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-30.png") 1x, url("../assets/icons/cursors/circles/png/circle-30@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"32\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-32.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-32.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-32.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-32.png") 1x, url("../assets/icons/cursors/circles/png/circle-32@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"34\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-34.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-34.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-34.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-34.png") 1x, url("../assets/icons/cursors/circles/png/circle-34@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"36\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-36.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-36.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-36.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-36.png") 1x, url("../assets/icons/cursors/circles/png/circle-36@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"38\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-38.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-38.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-38.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-38.png") 1x, url("../assets/icons/cursors/circles/png/circle-38@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"40\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-40.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-40.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-40.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-40.png") 1x, url("../assets/icons/cursors/circles/png/circle-40@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"42\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-42.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-42.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-42.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-42.png") 1x, url("../assets/icons/cursors/circles/png/circle-42@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"44\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-44.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-44.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-44.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-44.png") 1x, url("../assets/icons/cursors/circles/png/circle-44@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"46\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-46.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-46.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-46.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-46.png") 1x, url("../assets/icons/cursors/circles/png/circle-46@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"48\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-48.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-48.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-48.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-48.png") 1x, url("../assets/icons/cursors/circles/png/circle-48@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"50\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-50.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-50.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-50.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-50.png") 1x, url("../assets/icons/cursors/circles/png/circle-50@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"52\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-52.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-52.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-52.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-52.png") 1x, url("../assets/icons/cursors/circles/png/circle-52@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"54\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-54.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-54.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-54.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-54.png") 1x, url("../assets/icons/cursors/circles/png/circle-54@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"56\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-56.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-56.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-56.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-56.png") 1x, url("../assets/icons/cursors/circles/png/circle-56@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"58\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-58.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-58.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-58.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-58.png") 1x, url("../assets/icons/cursors/circles/png/circle-58@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"60\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-60.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-60.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-60.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-60.png") 1x, url("../assets/icons/cursors/circles/png/circle-60@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"62\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-62.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-62.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-62.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-62.png") 1x, url("../assets/icons/cursors/circles/png/circle-62@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"64\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-64.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-64.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-64.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-64.png") 1x, url("../assets/icons/cursors/circles/png/circle-64@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"66\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-66.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-66.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-66.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-66.png") 1x, url("../assets/icons/cursors/circles/png/circle-66@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"68\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-68.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-68.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-68.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-68.png") 1x, url("../assets/icons/cursors/circles/png/circle-68@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"70\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-70.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-70.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-70.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-70.png") 1x, url("../assets/icons/cursors/circles/png/circle-70@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"72\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-72.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-72.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-72.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-72.png") 1x, url("../assets/icons/cursors/circles/png/circle-72@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"74\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-74.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-74.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-74.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-74.png") 1x, url("../assets/icons/cursors/circles/png/circle-74@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"76\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-76.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-76.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-76.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-76.png") 1x, url("../assets/icons/cursors/circles/png/circle-76@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"78\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-78.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-78.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-78.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-78.png") 1x, url("../assets/icons/cursors/circles/png/circle-78@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"80\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-80.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-80.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-80.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-80.png") 1x, url("../assets/icons/cursors/circles/png/circle-80@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"82\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-82.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-82.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-82.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-82.png") 1x, url("../assets/icons/cursors/circles/png/circle-82@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"84\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-84.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-84.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-84.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-84.png") 1x, url("../assets/icons/cursors/circles/png/circle-84@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"86\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-86.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-86.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-86.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-86.png") 1x, url("../assets/icons/cursors/circles/png/circle-86@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"88\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-88.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-88.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-88.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-88.png") 1x, url("../assets/icons/cursors/circles/png/circle-88@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"90\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-90.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-90.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-90.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-90.png") 1x, url("../assets/icons/cursors/circles/png/circle-90@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"92\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-92.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-92.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-92.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-92.png") 1x, url("../assets/icons/cursors/circles/png/circle-92@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"94\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-94.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-94.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-94.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-94.png") 1x, url("../assets/icons/cursors/circles/png/circle-94@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"96\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-96.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-96.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-96.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-96.png") 1x, url("../assets/icons/cursors/circles/png/circle-96@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"98\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-98.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-98.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-98.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-98.png") 1x, url("../assets/icons/cursors/circles/png/circle-98@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"100\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-100.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-100.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-100.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-100.png") 1x, url("../assets/icons/cursors/circles/png/circle-100@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"102\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-102.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-102.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-102.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-102.png") 1x, url("../assets/icons/cursors/circles/png/circle-102@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"104\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-104.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-104.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-104.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-104.png") 1x, url("../assets/icons/cursors/circles/png/circle-104@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"106\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-106.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-106.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-106.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-106.png") 1x, url("../assets/icons/cursors/circles/png/circle-106@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"108\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-108.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-108.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-108.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-108.png") 1x, url("../assets/icons/cursors/circles/png/circle-108@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"110\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-110.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-110.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-110.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-110.png") 1x, url("../assets/icons/cursors/circles/png/circle-110@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"112\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-112.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-112.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-112.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-112.png") 1x, url("../assets/icons/cursors/circles/png/circle-112@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"114\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-114.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-114.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-114.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-114.png") 1x, url("../assets/icons/cursors/circles/png/circle-114@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"116\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-116.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-116.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-116.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-116.png") 1x, url("../assets/icons/cursors/circles/png/circle-116@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"118\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-118.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-118.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-118.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-118.png") 1x, url("../assets/icons/cursors/circles/png/circle-118@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"120\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-120.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-120.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-120.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-120.png") 1x, url("../assets/icons/cursors/circles/png/circle-120@2x.png") 2x) 64 64, auto
}

.drawing-board[data-cursor-size=\"122\"] {
  cursor: url("../assets/icons/cursors/circles/png/circle-122.png") 64 64, auto;
  cursor: url("../assets/icons/cursors/circles/cur/circle-122.cur"), auto;
  cursor: url("../assets/icons/cursors/circles/svg/circle-122.svg") 64 64, auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/circles/png/circle-122.png") 1x, url("../assets/icons/cursors/circles/png/circle-122@2x.png") 2x) 64 64, auto
}

.drawing-board {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.drawing-board[data-tool=text] {
  cursor: url("../assets/icons/cursors/text.png") 7 22, auto;
  cursor: url("../assets/icons/cursors/text.svg") 7 22, auto;
  cursor: url("../assets/icons/cursors/text.cur"), auto;
  cursor: -webkit-image-set(url("../assets/icons/cursors/text.png") 1x, url("../assets/icons/cursors/text@2x.png") 2x) 7 22, auto
}

.draw-path {
  fill: transparent;
  stroke-linecap: round
}

.draw-path.eraser {
  stroke: #fff
}

.board-controls {
  position: fixed;
  z-index: 1000;
  right: 10px;
  top: 10px
}

.board-controls > * {
  margin-left: 10px
}

.board-title {
  font-family: -apple-system, Helvetica Neue, Helvetica, sans-serif;
  position: fixed;
  top: 10px;
  left: 10px;
  pointer-events: none
}

.board-title h1 {
  font-size: 24px;
  font-weight: 200;
  padding: 0;
  margin: 0
}

.text-input-wrapper {
  position: fixed;
  top: 0;
  left: 0
}